# IntelliJ stuff
.idea/
*.iml

# Mac stuff
*.DS_Store

# Don't check in main configuration file (only example)
conf/drillTestConfig.properties

# Drill and Framework stuff
*.class
**/target/*
logs/*

# Hive stuff
metastore_db
derby.log

# Large Datasets
framework/resources/Datasources/complex/json/complex.json
framework/resources/Datasources/complex/json/complexga100k.json
framework/resources/Datasources/flatten_operators/100000rows/
framework/resources/Datasources/json/
framework/resources/Datasources/mondrian/
framework/resources/Datasources/parquet/tpcds_sf1/
framework/resources/Datasources/text/
framework/resources/Datasources/tpcds/sf1/
framework/resources/Functional/Failing/
framework/resources/Functional/data-shapes/wide-columns/5000/1000rows/parquet/large/
framework/resources/Functional/flatten_operators/100000rows/large/
framework/resources/Datasources/table_function/DRILL-5166*
framework/resources/Datasources/hive_storage/skipHeaderFooter/DRILL_5941*
framework/resources/Datasources/tpcds1_hive1dot2_withdate/
framework/resources/Datasources/tpcds_hivegenerated_parquet/
framework/resources/Datasources/tpch/sf1/
framework/resources/Datasources/hive_storage/md1119_parquet/
framework/resources/Datasources/schema_change_empty_batch/data/


# Logs
drill.log*

# External
framework/resources/External/
